#Summary:-
##Control Flow Statement
##if elif else
##Nested if-else
##Single Line if-else
##Loops
(While Loop, While else, for Loop)
##Print Pattern
##Break
##Continue
##Pass

##if elif else

In [ ]:
total_amount = 90 + 100 + 100 + 1000
print(f"Cart Total is: {total_amount}")
if total_amount > 999:
  price_after_discount = total_amount * 0.7
  print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499:
  price_after_discount = total_amount * 0.8
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

Cart Total is: 1290
Pay amount: 902.9999999999999

###Nested if-else:- if-else under another if-else

In [ ]:
val = float(input("Enter your Number:"))
if val >= 0:
  if val == 0:
    print("It's Zero")
  else:
    print("It's a Positive Number")
else:
  print("It's a Negative Number")

It's a Positive Number

###Single Line if-else:-

In [ ]:
val = float(input("Enter your Number:"))
if val > 99: print("YES")
else: print("NO")

NO

In [ ]:
#It's a Recommended approach. Because, it's more Readable
val = float(input("Enter your Number:"))
if val > 99: 
  print("YES")
else: 
  print("NO")

Enter your Number:66
NO

###Loops:-

###While Loop:-
###While condition is True, it will continue to print. When condition is False, it will be out of the Loop.

In [ ]:
total_marks = 1000
cutoff = 400
scores = [100, 200, 300, 399, 500]
year = 0
while scores[year] < cutoff:
  print(f"Your Score is: {scores[year]}")
  print("I will attempt next year")
  year = year + 1  #I am adding 1 to the Current year

Your Score is: 100
I will attempt next year
Your Score is: 200
I will attempt next year
Your Score is: 300
I will attempt next year
Your Score is: 399
I will attempt next year

In [ ]:
notes = 5
i = 1  #first Note
while i <= notes:
  print(f"Current sum: {i*10}")
  i = i+1

Current sum: 10
Current sum: 20
Current sum: 30
Current sum: 40
Current sum: 50

In [ ]:
notes = 5
i = 1  #first Note
while i <= notes:
  print(f"Current sum: {i}")
  i = i+1

Current sum: 1
Current sum: 2
Current sum: 3
Current sum: 4
Current sum: 5

In [ ]:
notes = 10
i = 1  #first Note
while i <= notes:
  print(f"Current sum: {i*10}")
  i = i+1

Current sum: 10
Current sum: 20
Current sum: 30
Current sum: 40
Current sum: 50
Current sum: 60
Current sum: 70
Current sum: 80
Current sum: 90
Current sum: 100

###While else

In [ ]:
notes = 5
i = 1  #first Note
while i <= notes:
  print(f"Current sum: {i*10}")
  i = i+1
else:
  print("No more 10 Rupees Note Left")

Current sum: 10
Current sum: 20
Current sum: 30
Current sum: 40
Current sum: 50
No more 10 Rupees Note Left

###for Loop:-

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):   #Table of 10  (Last Number 10 is out of Bound)
  print(f"10 * {i} = {10*i}")

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [ ]:
for i in range(0, 10):   
  print(f"10 * {i+1} = {10*(i+1)}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
for i in range(1, 11):   
  print(f"10 * {i} = {10*i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

###Print Pattern:-

In [ ]:
for i in range(1, 11):   
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
"*"*10

'**********'

In [ ]:
#i is not necessary to use
for Dipanjan in range(1, 11):     #Here Dipanjan is a variable
  print("*"*Dipanjan)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
cost_of_items = [100, 200, 129, 456, 1000]
total_sum = 0

for cost in cost_of_items:   #you don't have to use "range" keywords.
  print(cost)

100
200
129
456
1000

###break - means Out of the Loop. Stop the Loop

In [2]:
for i in range(1, 100):
  print(i)
  if i > 50:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [3]:
for i in range(1, 100):
  if i > 50:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
for i in range(1, 100):
  print(i)
  if i >= 50:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

###continue - means go to next action. Start Loop again

In [6]:
for i in range(1, 20):
  if i%2 == 0:  #If Number is even, Start the Loop again.
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for i in range(1, 20):
  if i%2 != 0:  #If Number is odd, Start the Loop again.
    continue
  print(i)

2
4
6
8
10
12
14
16
18

###Pass

In [8]:
for i in range(1, 20):
  pass  #I want to write code Later